# Ignore all files in the data directory
data/*

# Ignore files related to specific environments or editors
.DS_Store           # macOS folder metadata
.vscode/            # Visual Studio Code settings
*/.DS_Store
